<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.github.unafraid.editor.ui.util.logging" status="INFO" shutdownHook="disable">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%date{HH:mm:ss}] [%level] %logger{1}: %message%n" />
		</Console>
		<RollingFile name="ConsoleFile" fileName="log/console.log" filePattern="log/$${date:yyyy-MM}/console/console-%date{yyyy-MM-dd}.log">
			<PatternLayout pattern="[%date] [%level] [%thread] %logger{1.}: %message%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		<GUILogger name="JavaFXLogger">
			<PatternLayout pattern="[%date{HH:mm:ss}] [%level] %logger{1}: %message%n" />
		</GUILogger>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="ConsoleFile" />
			<AppenderRef ref="JavaFXLogger" />
		</Root>
	</Loggers>
</Configuration>